.c1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    width: 100%;
    
    
}

.c1 img{
    width: 100%;
    border-radius: 15px;
}

 

.c3bag{
  display: flex;

  gap: 20px;
  width: 100%;
  
 
}

.cimg{
   
    height: 100%;
}

.ccx{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    
}

.cleft{
    width: 40%;
    color:white;
    font-size: 30px;
    text-align: left;
}
.ddt>h1{
    font-weight: bold;
    font-size: 40px;
}
.ddt>h3{
    width: 90%;
    color:white;
    font-size: 25px;
    text-align: left;
    margin-top: 20px;

}
.switch{
    margin-top: 40px;
    
}
.switch>h2{
   
    font-size: 25px;
    color: black;
    margin-bottom: 25px;
}
.switch>h2:nth-child(3){
    background-color:rgb(255 255 255 / 70%);
    padding: 12px 20px 8px 20px;
    width: fit-content;
    border-radius: 43.5px;
    cursor: pointer;
}
.switch>h2:hover{
      background-color:rgb(255 255 255 / 70%);
      padding: 12px 20px 8px 20px;
      width: fit-content;
      border-radius: 43.5px;
      cursor: pointer;
}

.cright{
    width: 60%;
}
 
@media screen and (max-width: 720px) {
   
    .cleft{
        width: 100%;
      

     }

   .ddt>h1{
    font-weight: bold;
    font-size: 35px;
   }
   .ddt>h3{
          color: black;
          font-size: 20px;
          margin-top: 10px;
          margin-bottom: 10px;
   }
   
     .switch{
        display: none;

        
    }

    .cright{
        width: 100%;
        
    }
    
 
}


.tanimation{
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
    color: white;
    z-index: 400;
   
}

 
