.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

select,option {
    width: 200px;
    height: 50px;
    font-size: larger;
    border: none;
    border-radius: 10px;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
